$timer-colors: (
  active: #d66666,
  break: #54bb87
);

$settings-panel-color: #f0f3f6;
$offwhite: $settings-panel-color;
$fontFamily: 'Open Sans', sans-serif !default;

$offwhite-text: rgba(240, 243, 246, 0.6);
