.settings__container,
.settings__trigger {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.settings__panel {
  width: 250px;
  border-radius: 5px;
  background: $settings-panel-color;
  padding: 10px 20px 30px 20px;
  @include transform(scale(0));
  @include transition(transform, 0.2s, ease-in-out);
  transform-origin: 100% 100%;
}

.settings__close {
  text-align: right;
  margin-bottom: 10px;
  color: darken(#ddd, 25%);

  span {
    cursor: pointer;
  }

}

.is-open {

    .settings__panel {
        @include transform(scale(1));
        @include transition(transform, 0.4s, ease-in-out);
        transform-origin: 100% 100%;
    }

    .settings__trigger {
        visibility: hidden;
    }

}
