@each $state, $color in $timer-colors {
  .slider__#{$state} {
    width: 80%;
    float: left;
  }

  .slider__#{$state} .rc-slider-track {
    background: $color;
  }

}

.slider__container {
  margin: 15px 0 0 0;
   @extend %clearfix;
}


.handle {
  line-height: 48px;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 0 0.125em #333;
  background: #fff;
  margin-top: -3px;
  cursor: pointer;
}

.slider__value {
  width: 20%;
  text-align: center;
  display: block;
  float: left;
  line-height: 30px;
  color: #9d9d9d;
  font-size: 0.875rem;
}

.slider__label {
  font-size: 0.875rem;
  color: #9d9d9d;
}

.rc-slider {
  position: relative;
  height: 4px;
  width: 80%;
  border-radius: 6px;
  background-color: #ddd;
  margin-top: 10px;
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 6px;
  background-color: #abe2fb;
  z-index: 1;
}
.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0.125em #333;
  background: #fff;
  z-index: 2;
}
.rc-slider-mark {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  font-size: 12px;
  z-index: 3;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
  z-index: 1;
}
