.timer__container {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
}

.timer__hint {
  display: block;
  display: block;
  margin-top: 25px;
  color: rgba(240,243,246,0.6);
  font-size: 12px;
  font-size: 0.75rem;
}

.timer-controls__container {
  margin-top: 100px;
}
